 body {
     scroll-behavior: smooth;
     background-image: url('img/bg.gif');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     margin: 0;
     padding: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     text-align: center;
 }

 .game {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     width: 100%;
 }

 #gameboy {
     position: absolute;
     width: 87%;
     height: auto;
 }

 h1 {
     font-size: 23px;
     color: rgb(0, 0, 0);
     font-family: 'Press Start 2P', cursive;
     margin: 0 0 20px;
 }

 main button:hover {
     background-color: #45a049;
 }

 .gameContent {
     z-index: 1;
 }

 main {
     display: flex;
     z-index: 3;
     transform: translate(102px, 1px);
     width: 100%;
     flex-direction: column;
 }

 header {
     margin-top: 6px;
     z-index: 1;
 }

 .gameContent {
     transform: translate(652px, -28px);
     width: 840px;
     height: 280px;
     padding: 7px 9px 25px 9px;
     /* background-image: url(img/bgwhite.jpg); */
     background-repeat: no-repeat;
     /* background-attachment: fixed; */
     background-size: cover;
     z-index: 1;
 }

 main button {
     font-size: 21px;
     position: relative;
     width: 39%;
     padding: 10px;
     margin: 15px 0px 12px 0;
     border-radius: 5px;
     cursor: pointer;
 }

 @media (max-width: 1280px) {
     #gameboy {
         width: 100%;
         height: auto;
     }

     main {
         z-index: 3;
         transform: translate(-272px, 1px);
         width: 100%;
     }

     header {
         margin-top: 6px;
         z-index: 1;
     }

     .gameContent {
         transform: translate(465px, -7px);
         width: 840px;
         height: 280px;
         padding: 7px 9px 25px 9px;
         /* background-image: url(img/bgwhite.jpg); */
         background-repeat: no-repeat;
         /* background-attachment: fixed; */
         background-size: cover;
         z-index: 1;
     }

     main button {
         font-size: 21px;
         position: relative;
         width: 50%;
         padding: 10px;
         margin: 15px 0px 12px 0;
         border-radius: 5px;
         cursor: pointer;
     }

     h1 {
         font-size: 21px;
     }
 }

 @media (max-width: 1280px) {
     #gameboy {
         width: 100%;
         height: auto;
     }

     main {
         z-index: 3;
         transform: translate(-272px, 1px);
         width: 100%;
     }

     header {
         margin-top: 6px;
         z-index: 1;
     }

     .gameContent {
         transform: translate(465px, -7px);
         width: 840px;
         height: 280px;
         padding: 7px 9px 25px 9px;
         /* background-image: url(img/bgwhite.jpg); */
         background-repeat: no-repeat;
         /* background-attachment: fixed; */
         background-size: cover;
         z-index: 1;
     }

     main button {
         font-size: 21px;
         position: relative;
         width: 50%;
         padding: 10px;
         margin: 15px 0px 12px 0;
         border-radius: 5px;
         cursor: pointer;
     }

     h1 {
         font-size: 21px;
     }
 }

 @media (max-width: 884px) {
     #gameboy {
         width: 132%;
         height: auto;
     }

     main {
         z-index: 3;
         transform: translate(-234px, 1px);
         width: 100%;
     }

     header {
         margin-top: 6px;
         z-index: 1;
     }

     .gameContent {
         transform: translate(280px, -7px);
         width: 840px;
         height: 280px;
         padding: 7px 9px 25px 9px;
         /* background-image: url(img/bgwhite.jpg); */
         background-repeat: no-repeat;
         /* background-attachment: fixed; */
         background-size: cover;
         z-index: 1;
     }

     main button {
         font-size: 18px;
         position: relative;
         width: 76%;
         padding: 10px;
         margin: 15px 0px 12px 0;
         border-radius: 5px;
         cursor: pointer;
     }

     h1 {
         font-size: 21px;
     }
 }

 @media (max-width: 834px) {
     #gameboy {
         width: 132%;
         height: auto;
     }

     main {
         z-index: 3;
         transform: translate(-227px, 1px);
         width: 100%;
     }

     header {
         margin-top: 6px;
         z-index: 1;
     }

     .gameContent {
         transform: translate(247px, -7px);
         width: 840px;
         height: 280px;
         padding: 7px 9px 25px 9px;
         /* background-image: url(img/bgwhite.jpg); */
         background-repeat: no-repeat;
         /* background-attachment: fixed; */
         background-size: cover;
         z-index: 1;
     }

     main button {
         font-size: 18px;
         position: relative;
         width: 76%;
         padding: 10px;
         margin: 15px 0px 12px 0;
         border-radius: 5px;
         cursor: pointer;
     }

     h1 {
         font-size: 21px;
     }
 }

 @media (max-width: 820px) {
     #gameboy {
         width: 132%;
         height: auto;
     }

     main {
         z-index: 3;
         transform: translate(-227px, 1px);
         width: 100%;
     }

     header {
         margin-top: 6px;
         z-index: 1;
     }

     .gameContent {
         transform: translate(247px, -7px);
         width: 840px;
         height: 280px;
         padding: 7px 9px 25px 9px;
         /* background-image: url(img/bgwhite.jpg); */
         background-repeat: no-repeat;
         /* background-attachment: fixed; */
         background-size: cover;
         z-index: 1;
     }

     main button {
         font-size: 18px;
         position: relative;
         width: 76%;
         padding: 10px;
         margin: 15px 0px 12px 0;
         border-radius: 5px;
         cursor: pointer;
     }

     h1 {
         font-size: 21px;
     }
 }

 @media (max-width: 768px) {
     main {
         z-index: 3;
         transform: translate(-197px, -176px);
         width: 100%;
     }

     header {
         margin-top: 6px;
         z-index: 1;
     }

     .gameContent {
         transform: translate(196px, -201px);
         width: 840px;
         height: 280px;
         padding: 7px 9px 25px 9px;
         background-image: url(img/bgwhite.jpg);
         background-repeat: no-repeat;
         /* background-attachment: fixed; */
         background-size: cover;
         z-index: 1;
     }

     main button {
         font-size: 18px;
         position: relative;
         width: 94%;
         padding: 10px;
         margin: 15px 0px 12px 0;
         border-radius: 5px;
         cursor: pointer;
     }

     h1 {
         font-size: 21px;
     }

     #gameboy {
         z-index: 2;
         width: 73%;
         height: auto;
     }
 }

 @media (max-width: 428px) {
     main {
         z-index: 3;
         transform: translate(-171px, -132px);
         width: 100%;
     }

     header {
         margin-top: 6px;
         z-index: 1;
     }

     .gameContent {
         transform: translate(77px, -132px);
         width: 824px;
         height: 223px;
         padding: 7px 9px 25px 9px;
         background-image: url(img/bgwhite.jpg);
         background-repeat: no-repeat;
         /* background-attachment: fixed; */
         background-size: cover;
         z-index: 1;
     }

     main button {
         position: relative;
         width: 159%;
         padding: 10px;
         margin: 5px 0px 4px 0;
         border-radius: 5px;
         cursor: pointer;
     }

     h1 {
         font-size: 13px;
     }

     #gameboy {
         z-index: 2;
         width: 100%;
         height: auto;
     }
 }

 @media (max-width: 414px) {
     main {
         z-index: 3;
         transform: translate(-171px, -132px);
         width: 100%;
     }

     header {
         margin-top: 6px;
         z-index: 1;
     }

     .gameContent {
         transform: translate(77px, -132px);
         width: 759px;
         height: 216px;
         padding: 7px 9px 25px 9px;
         background-image: url(img/bgwhite.jpg);
         background-repeat: no-repeat;
         /* background-attachment: fixed; */
         background-size: cover;
         z-index: 1;
     }

     main button {
         position: relative;
         width: 159%;
         padding: 10px;
         margin: 5px 0px 4px 0;
         border-radius: 5px;
         cursor: pointer;
     }

     h1 {
         font-size: 13px;
     }

     #gameboy {
         z-index: 2;
         width: 100%;
         height: auto;
     }
 }

 @media (max-width: 412px) {
     main {
         z-index: 3;
         transform: translate(-171px, -132px);
         width: 100%;
     }

     header {
         margin-top: 6px;
         z-index: 1;
     }

     .gameContent {
         transform: translate(77px, -132px);
         width: 759px;
         height: 216px;
         padding: 7px 9px 25px 9px;
         background-image: url(img/bgwhite.jpg);
         background-repeat: no-repeat;
         /* background-attachment: fixed; */
         background-size: cover;
         z-index: 1;
     }

     main button {
         position: relative;
         width: 159%;
         padding: 10px;
         margin: 5px 0px 4px 0;
         border-radius: 5px;
         cursor: pointer;
     }

     h1 {
         font-size: 13px;
     }

     #gameboy {
         z-index: 2;
         width: 100%;
         height: auto;
     }
 }

 @media (max-width: 394px) {

     main {
         z-index: 3;
         transform: translate(-167px, -118px);
         width: 100%;
     }

     header {
         margin-top: 6px;
         z-index: 1;
     }

     .gameContent {
         transform: translate(72px, -138px);
         width: 776px;
         height: 175px;
         padding: 7px 9px 25px 9px;
         background-image: url(img/bgwhite.jpg);
         background-repeat: no-repeat;
         /* background-attachment: fixed; */
         background-size: cover;
         z-index: 1;
     }

     main button {
         width: 166%;
         padding: 10px;
         margin: 5px 0px 4px 0;
         border-radius: 5px;
         cursor: pointer;
     }

     h1 {
         font-size: 13px;
     }

     #gameboy {
         z-index: 2;
         width: 100%;
         height: auto;
     }
 }

 @media (max-width: 375px) {

     main {
         z-index: 3;
         transform: translate(-160px, -110px);
         width: 100%;
     }

     header {
         margin-top: 6px;
         z-index: 1;
     }

     .gameContent {
         transform: translate(66px, -131px);
         width: 776px;
         height: 175px;
         padding: 7px 9px 25px 9px;
         background-image: url(img/bgwhite.jpg);
         background-repeat: no-repeat;
         /* background-attachment: fixed; */
         background-size: cover;
         z-index: 1;
     }

     main button {
         width: 171%;
         padding: 10px;
         margin: 5px 0px 4px 0;
         border-radius: 5px;
         cursor: pointer;
     }

     h1 {
         font-size: 13px;
     }

     #gameboy {
         z-index: 2;
         width: 97%;
         height: auto;
     }
 }

 @media (max-width: 360px) {

     main {
         z-index: 3;
         transform: translate(-160px, -110px);
         width: 100%;
     }

     header {
         margin-top: 6px;
         z-index: 1;
     }

     .gameContent {
         transform: translate(55px, -123px);
         width: 766px;
         height: 151px;
         padding: 7px 9px 25px 9px;
         background-image: url(img/bgwhite.jpg);
         background-repeat: no-repeat;
         /* background-attachment: fixed; */
         background-size: cover;
         z-index: 1;
     }

     main button {
         width: 171%;
         padding: 10px;
         margin: 5px 0px 4px 0;
         border-radius: 5px;
         cursor: pointer;
     }

     h1 {
         font-size: 13px;
     }

     #gameboy {
         z-index: 2;
         width: 97%;
         height: auto;
     }
 }

 @media (max-width: 320px) {

     main {
         z-index: 3;
         transform: translate(-140px, -91px);
         width: 100%;
     }

     header {
         margin-top: 6px;
         z-index: 1;
     }

     .gameContent {
         transform: translate(55px, -104px);
         width: 599px;
         height: 151px;
         padding: 7px 9px 25px 9px;
         background-image: url(img/bgwhite.jpg);
         background-repeat: no-repeat;
         /* background-attachment: fixed; */
         background-size: cover;
         z-index: 1;
     }

     main button {
         width: 170%;
         padding: 7px;
         margin: 5px 0px 4px 0;
         border-radius: 5px;
         cursor: pointer;
     }

     h1 {
         font-size: 13px;
     }

     #gameboy {
         z-index: 2;
         width: 97%;
         height: auto;
     }
 }